@model IEnumerable<NewsVM>

<h1>News</h1>
<a asp-action="Create" >Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
            <th>Date Published</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var newsItem in Model)
        {
            <tr>
                <td>@newsItem.Title</td>
                <td>@newsItem.AuthorId</td>
                <td>@newsItem.CategoryId</td>
                <td>@newsItem.Description</td>
                <td>
                    <a asp-action="DeleteNews" asp-route-id="@newsItem.Id" onclick="return confirm('Areyou sure you want to delete this news item?')">Delete</a>
                    <a asp-action="Details" asp-route-id="@newsItem.Id">Details</a>
                    <a asp-action="Edit" asp-route-id="@newsItem.Id">Edit</a>

                    
                </td>
            </tr>
           
        }
    </tbody>
</table>